#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.visible{
  border: solid rgba(255, 255, 255, 0.87);
}
.invisible{
  display: none;
}
button {
  margin-bottom: 4px;
}